{% extends 'Visitas/base.html' %}

{% block title %}
  Detalle de la visita
{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Detalle de la visita</h1>
  <div class="bg-white p-4 rounded shadow">
    <h2 class="text-xl font-bold">{{ visita.nombre }}</h2>
    <p class="mt-2">{{ visita.rut }}</p>
    <p class="mt-2">motivo de visita: {{ visita.motivo_de_visita }}</p>
    <p class="mt-2">hora de entrada y salida: {{ visita.hora_de_entrada_y_salida }}</p>
    <a href="{% url 'lista_visitas' %}" class="hover:scale-105 transition-all ease-in mt-4 inline-block bg-blue-500 text-white px-4 py-2 rounded">Volver a la lista</a>
  </div>
{% endblock %}