{% extends 'Visitas/base.html' %}

{% block title %}
  Lista de Visitas
{% endblock %}

{% block content %}
  <h1 class="text-2xl font-bold mb-4">Lista de Visitas</h1>
  <a href="{% url 'nueva_visita' %}" class="bg-green-500 text-white px-4 py-2 rounded mb-4 inline-block hover:scale-105 transiiton-all ease-in">Nueva Visita</a>
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="py-2 px-4 border-b">Nombre</th>
        <th class="py-2 px-4 border-b">Rut</th>
        <th class="py-2 px-4 border-b">Motivo de visita</th>
        <th class="py-2 px-4 border-b">Hora de entrada y salida</th>
      </tr>
    </thead>
    <tbody>
      {% for visita in visitas %}
        <tr>
          <td class="py-2 px-4 border-b">{{ visita.nombre }}</td>
          <td class="py-2 px-4 border-b">{{ visita.rut }}</td>
          <td class="py-2 px-4 border-b">{{ visita.motivo_de_visita }}</td>
          <td class="py-2 px-4 border-b">{{ visita.hora_de_entrada_y_salida }}</td>
          <td class="py-2 px-4 border-b">
            <menu class="flex flex-row gap-2 items-center text-white">
              <a href="{% url 'detalle_visita' visita.id %}" class="bg-blue-500 hover:scale-105 transition-all ease-in px-2 py-1 rounded">Ver</a>
              <a href="{% url 'editar_visita' visita.id %}" class="bg-yellow-500 hover:scale-105 transition-all ease-in px-2 py-1 rounded">Editar</a>
              <a href="{% url 'eliminar_visita' visita.id %}" class="bg-red-500 hover:scale-105 transition-all ease-in px-2 py-1 rounded">Eliminar</a>
            </menu>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
